<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDWebImage_note.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7C2CD0B1CC7B20600854267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C2CD241CC7B20600854267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C2CD2F1CC7B20600854267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C2CDBF1CCBB60E00854267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C2CDD81CCBB60E00854267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C2CDE31CCBB60E00854267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
